body {
    font-family: 'Poppins', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    background-color: #f0f0f0;
    background-image: url("https://img.freepik.com/vector-gratis/fondo-paisaje-natural-videoconferencia_23-2148652921.jpg?t=st=1718604539~exp=1718608139~hmac=9a58b95ff00ddd1844a34c1f3ff817a92d2d1e532b6fbf113507f60110edc841&w=740");
    background-size: cover; /* Ajusta la imagen para cubrir todo el cuerpo */
    background-position: center;
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
  }
  
  .container {
    text-align: center;
  }
  
  .flower-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  #showPhotoBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #showPhotoBtn:hover {
    background-color: #45a049;
  }
  
  #message {
    font-size: 25px;
    color: #000000;
    margin-bottom: 20px;
  }
  
  #photo {
    margin-top: 20px;
  }
  
  #photo-img, #toggle-image {
    width: 300px; 
    height: auto;
  }
  
  /* Estilo para el tooltip personalizado */
  .custom-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .custom-tooltip .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #ecec07;
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .custom-tooltip .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffee00 transparent transparent transparent;
  }
  
  .custom-tooltip:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }

.sunflower {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('sunny.png'); 
    background-size: cover;
    animation: fly 4s linear infinite;
  }
  
  @keyframes fly {
    from {
      transform: translateY(100vh) rotate(0deg);
    }
    to {
      transform: translateY(-100vh) rotate(360deg);
    }
  }